{{> layout/header }}

<div class="container">
{{#board}}
    <button class="btn btn-light" onclick="history.back()">돌아가기</button>
    <button class="btn btn-warning" id="btn-update">수정</button>
    {{#isMine}}
    <button class="btn btn-danger" id="btn-delete" data-id="{{id}}">삭제</button>
    {{/isMine}}
    <br/><br/>
    <div>
        글번호 : <span><i>{{id}}</i></span>
        작성자 : <span><i>{{user.username}}</i></span>
    </div>

    <div>
        <h3>{{title}}</h3>
    </div>
    <br/>
    <div>
        <div>{{{content}}}</div>
    </div>
{{/board}}
</div>
<script src="/js/board.js"></script>
{{>layout/footer }}
