{{> layout/header }}

<form action="/auth/loginProc" method="post" >
    <div class="form-group">
        <label for="username">Username :</label>
        <input type="text" class="form-control" placeholder="Enter username" name="username" id="username">
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" placeholder="Enter password" name="password" id="password">
    </div>

    <button type="submit" id="btn-login" class="btn btn-primary">로그인</button>
</form>

{{>layout/footer }}
