{{>layout/header }}

<div class="container">
    {{#boards}}
    <div class="card m-2">
        <div class="card-body">
            <h4 class="card-title"><a href="/board/{{id}}">{{title}}</a></h4>

        </div>
    </div>
    {{/boards}}


    <ul class="pagination justify-content-center">
        {{#firstCheck}}
            <li class="page-item"><a class="page-link" href="?page={{previous}}">Previous</a></li>
        {{/firstCheck}}
        {{^firstCheck}}
            <li class="page-item disabled"><a class="page-link" href="?page={{previous}}">Previous</a></li>
        {{/firstCheck}}

<!--        <li class="page-item"><a class="page-link" href="#">1</a></li>-->
<!--        <li class="page-item"><a class="page-link" href="#">2</a></li>-->
<!--        <li class="page-item"><a class="page-link" href="#">3</a></li>-->
        {{#nextCheck}}
            <li class="page-item"><a class="page-link" href="?page={{next}}">Next</a></li>
        {{/nextCheck}}
        {{^nextCheck}}
            <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
        {{/nextCheck}}
    </ul>



</div>



{{>layout/footer }}




